<nav class="navbar navbar-expand-lg navbar-dark bg-inverse">
  <button class="navbar-toggler  navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/banner-ico.png" alt="banner" height="30" width="30">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['search']">search</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" [(ngModel)]="search" name="search" (keyup)="getSearchArtist()" type="search" placeholder="Search" aria-label="Search"> -->
      <!-- <input class="form-control mr-sm-2" [(ngModel)]="termino" name="termino" (keyup)="buscarArtistas()" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- <div  class="container top-30">
  <div  class="row">
    <div class="col-md-9">

    </div>
    <ul>
      <li *ngFor="let artista of artistas">
        {{artista.name}}
      </li>
    </ul>
  </div>
</div> -->
<!-- <app-search [termino]="search"></app-search> -->